<html>
	<head>
	</head>

	<body>
		<h1>Hello World!!</h1>
		<h2>using templates</h2>

		<a href="http://naver.com">Naver</a>
		<a href="http://google.com">Google</a>

		<p>This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph.</p>

		<div>div tag is a general purpose building block.</div>

		<table border="1">
			<thead>
				<tr>
					<th>Product</th>
					<th>Price</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>iPhone</td>
					<td>$599</td>		
				</tr>
				<tr>
					<td>iPad</td>
					<td>$499</td>		
				</tr>
			</tbody>
		</table>

		<ul>
			<li>HTML</li>
			<li>CSS</li>
			<li>Python</li>
		</ul>
	</body>
</html>