<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">

	</head>

	<body>
		<h1>Hello World!!</h1>
		<h2>using templates</h2>

		<a href="http://naver.com" class="btn btn-primary">Naver</a>
		<a href="http://google.com" class="btn btn-default">Google</a>

		<p>This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph.</p>

		<div style="float:left">div tag is a general purpose building block.</div>
		<div style="float:right; background-color: yellow; padding: 10px; margin: 10px; border: 1px solid blue">div tag is a general purpose building block.</div>

		<table class="table-bordered">
			<thead>
				<tr>
					<th>Product</th>
					<th>Price</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>iPhone</td>
					<td>$599</td>		
				</tr>
				<tr>
					<td>iPad</td>
					<td>$499</td>		
				</tr>
			</tbody>
		</table>

		<div class="container">

			<ul class="list-group">
				<li class="list-group-item">HTML</li>
				<li class="list-group-item">CSS</li>
				<li class="list-group-item">Python</li>
			</ul>
		</div>
	</body>
</html>