{% extends 'layout.html' %}
{% block content %}
			<div class="product">
				<a href="/product/{{product.id}}">
					<img src="{{product.image}}">
				</a>
				<h5>{{product.name}}</h5>
				<div>${{product.price}}</div>
				<pre>{{product.description}}</pre>
			</div>

			<div>
				<a href="/favorite/{{product.id}}" class="btn btn-primary">Favorite</a>
			</div>

			<h3>댓글</h3>
			<ul>
			{% for comment in comments %}
				<li><span class="label label-success">{{comment.user.username}}</span> {{comment.content}} <a href="/comment/delete/{{comment.id}}">x</a></li>
			{% endfor %}
			</ul>
			<form class="form" action="/comment/create" method="post">
				<div class="form-group">
					<label>댓글쓰기</label>
					<input class="form-control" type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
				</div>
				<div class="form-group">
					<input type="hidden" name="product" value="{{product.id}}">
					<textarea class="form-control" name="comment"></textarea>
				</div>
				<input type="submit" class="btn btn-info" value="댓글쓰기">
			</form>
{% endblock %}